<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="css/pages/index.css" />
        <link rel="stylesheet" href="css/base.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <h1 class="visuallyhidden">Daniel van der Velden: Frontend Developer</h1>
        <main>
            <section id="intro">
                <div aria-hidden="true" id="rotator"></div>
                <div class="tagline">
                  <span class="name""><span>D</span><span>a</span><span>n</span><span>i</span><span>e</span><span>l</span>&nbsp;<span>v</span><span>a</span><span>n</span>&nbsp;<span>d</span><span>e</span><span>r</span>&nbsp;<span>V</span><span>e</span><span>l</span><span>d</span><span>e</span><span>n</span></span>
                  <span><span class="bounce-in-left frontend">Frontend</span>&nbsp;<span class="bounce-in-right developer">Developer</span></span>
                </div>
            </section>
            <section id="portfolio">

            </section>
        </main>
        <script src="js/script.js"></script>
    </body>
</html>
